<form action="/api" method="post" enctype="multipart/form-data">
    <input name="JobSettings" value='{Name:"test", Queue:"test"}' />
    <input name="JobType" value="1" />
    <input type="file" name="JobArchiveName" />
    <input type="submit" />
</form>